@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);
div
{
	border-radius: 3px;
}

body
{
	font-family:'Lato';
}
.box
{
	background:#F3F3F3;
	width:80%;
	height:100%;
	padding-top:40px;
	color: #304256;
	margin: 0 auto;
	border-radius: 10px;
	padding-bottom: 40px; 
}

/*shadow effect*/
.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.inner
{
	padding-left: 60px;
}
.name{
	font-family: Impact;
	font-size: 40px;
}

.links
{
	display: inline-block;
	background:#304256;
	padding: 10px;
	color: white;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.text
{
	display: inline;
	padding: 10px;
	margin-left: 0 auto;
}

.aboutme
{
	display: inline-block;
	background:#FFF;
	color: black;	
	width: 100%;
	margin-top:10px;
}


.sidebyside,.restab{
	width:100%;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}
#parallelogram 
{
	float: left;
	width: 120px;
	height: 15px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: #304256;
	padding: 10px;
	color: white;
	margin-top: 10px;
	padding-right:50px;
	font-size: 15px;
}

.hr
{
	margin-top:25px;
	margin-left:300px;
	width: 688px;
	height:2px;
	background-color: #46AAC4;
}

.perinfo
{
	width:250px;
	float: left;
}

.intro
{

}

.pic
{
	width:163px;
	height:206px;
	border-radius: 9px;
	float: left;
}
.social-icon
{
	font-size: 30px;
	margin: 10px;
	padding: 5px;
}

#fb
{
	color:#3B579D;
}

#twitter
{
	color:#1DA1F2;
}
}

.git
{
	color:#000000;
}

#linkedin
{
	color:#007BB6;
}

a
{
	text-decoration: none;
	color: inherit;
}
.paper
{
	color: white;
}
#intropara
{
	display: inline-block;
	width: 500px;
	height: 206px;
	margin-left: 20px;
	font-size: 20px;
}

.progressbars
{
	font-family: "Expletus Sans", sans-serif;
}

progress[value] {
    -webkit-appearance: none;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #3299DE,#3299DE);

    border-radius: 5px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

li {

	width: 300px;
	float: left;
	list-style-type: none;
	margin-bottom:10px;
	margin-right:20px;
}

p
{
	margin:1px;
}

.restofcv
{
	display: inline-block;;
	background:#304256; 
	color:white;
	width: 100%;
}

.roundbox
{
	float: left;
	width: 120px;
	height: 15px;
	background-color: #339ADD;
	padding: 10px;
	padding-right: 30px;
	color: white;
	margin-top: 10px;
	font-size: 19px;
	border-radius: 8px;
}

.bullet
{
	list-style-type: circle;
	width:100%;
}

.duration
{
	display: inline-block;
	background: #339ADD;
	margin-left: 20px;
	padding: 7px;
}

.infolist
{
	padding-left: 20px;
	padding-right: 100px; 
}

.part1
{
	padding-right: 90px;
	display: inline-block;
	width:160px; 
}


#line,#line1
{
	display: none;
	width:240px;
	height: 2px;
	background-color: #46AAC4;
	margin-bottom: 5px;
	margin-top: 5px;
}

button
{
	border: none;
	background: none;	
	color: white;
	font-style: inherit;
}