@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);
html
{
	background-color: black;
}
div
{
	border-radius: 3px;
}
.box
{
	background:#F3F3F3;
	width:80%;
	height:100%;
	padding-top:40px;
	padding-bottom:20px;
	color: #304256;
	margin: 0 auto;
	border-radius: 3px;
}
.inner
{
	padding-left: 60px;
}
.name{
	font-family: Impact;
	font-size: 40px;
}

.links
{
	display: inline-block;
	background:#304256;
	padding: 10px;
	color: white;
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.text
{
	display: inline;
	padding: 10px;
	margin-left: 0 auto;
}

.aboutme
{
	display: inline-block;
	background:#FFF;
	color: black;	
	width: 100%;
	margin-top:10px;
}


.sidebyside,.restab{
	width:100%;
	display: inline-block;
	margin-bottom: 10px;
}
#parallelogram 
{
	float: left;
	width: 120px;
	height: 15px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: #304256;
	padding: 10px;
	color: white;
	margin-top: 10px;
	padding-right:50px;
	font-size: 15px;
}

.hr
{
	margin-top:25px;
	margin-left:300px;
	width: 720px;
	height:2px;
	background-color: #46AAC4;

}

.perinfo
{
	width:250px;
	float: left;
}

.intro
{

}

.pic
{
	width:163px;
	height:206px;
	border-radius: 9px;
	float: left;
}
.social-icon
{
	font-size: 30px;
	margin: 10px;
	padding: 5px;
}

#fb
{
	color:#3B579D;
}

#twitter
{
	color:#1DA1F2;
}
}

#git
{
	color:black;
}

#linkedin
{
	color:#007BB6;
}

a
{
	text-decoration: none;
}
#intropara
{
	display: inline-block;
	width: 500px;
	height: 206px;
	margin-left: 20px;
}

.progressbars
{
	font-family: "Expletus Sans", sans-serif;
}

progress[value] {
    -webkit-appearance: none;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #3299DE,#3299DE);

    border-radius: 5px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

li {

	width: 50%;
	float: left;
	list-style-type: none;
	
	padding-right: 5.3333333%;
}

p
{
	margin:1px;
}